### 1. 데이터에서 Name, Survived, Fare만 추려내고, 그 중 Fare가 100이상이면서 사망자인(Survived가 0)값을 뽑아 titanic_1에 저장하시오.

#### (1) 'titanic.csv'데이터를 불러와서, titanic변수에 저장한다.

In [128]:
import pandas as pd
titanic = pd.read_csv('C:/Users/tb990/Desktop/titanic.csv', sep=",")

# sep = ','는 ,으로 이뤄진 데이터에서만 작동, '\t'은 \로 이뤄진 데이터에서 작동

#### (2) 데이터에서 Name, Survived, Fare만 추려내기

In [115]:
titanic1 = df[['Name', 'Survived', 'Fare']]    # 바깥은 인덱스괄호[] 안은 리스트 괄호[]
print(titanic1.head())

                                                Name  Survived     Fare
0                            Braund, Mr. Owen Harris       0.0   7.2500
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1.0  71.2833
2                             Heikkinen, Miss. Laina       1.0   7.9250
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1.0  53.1000
4                           Allen, Mr. William Henry       0.0   8.0500

#### (3) 그 중 Fare가 100이상이면서,  사망자인(Survived가 0)값을 뽑아 //  titanis_1에 저장하시오.

In [130]:
titanic_1 = titanic1[(titanic1['Fare'] >= 100)&(titanic1['Survived']== 0)]    # 불린추출하기, &와 ()로 '그리고' 역할
print(titanic_1.head())

                               Name  Survived      Fare
27   Fortune, Mr. Charles Alexander       0.0  263.0000
118        Baxter, Mr. Quigg Edmond       0.0  247.5208
297    Allison, Miss. Helen Loraine       0.0  151.5500
332       Graham, Mr. George Edward       0.0  153.4625
373             Ringhini, Mr. Sante       0.0  135.6333

### 2. titanic 데이터에서 Name, Survived, Embarked만 추려내고, 그 중 생존자(Survived가 1)만 뽑아 titanic_2에 저장하시오.

In [114]:
titanic_2 = titanic[titanic['Survived'] == 1][['Name', 'Survived', 'Embarked']]
print(titanic_2.head())

                                                Name  Survived Embarked
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       1.0        C
2                             Heikkinen, Miss. Laina       1.0        S
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       1.0        S
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)       1.0        S
9                Nasser, Mrs. Nicholas (Adele Achem)       1.0        C

### 3. titanic 데이터에서 Name, Survived, Sex, Age만 추려내고, 그 중 사망자의 나이가 30세 미만인 경우를 출력하시오.

In [131]:
titanic_3 = titanic[(titanic['Survived'] == 0)&(titanic['Age'] < 30 )][['Name', 'Survived', 'Sex', 'Age']]
print(titanic_3.head())

                                    Name  Survived     Sex   Age
0                Braund, Mr. Owen Harris       0.0    male  22.0
7         Palsson, Master. Gosta Leonard       0.0    male   2.0
12        Saundercock, Mr. William Henry       0.0    male  20.0
14  Vestrom, Miss. Hulda Amanda Adolfina       0.0  female  14.0
16                  Rice, Master. Eugene       0.0    male   2.0

### 4. titanic데이터에서 Name,Survived, Pclass만  추려내고, 그 중 층수와 생존 여부에 따라 빈도를 구하시오.

In [139]:
titanic_4 = titanic.groupby(['Survived', 'Pclass'])['Name', 'Survived', 'Pclass'].count()
print(titanic_4.head())

                 Name  Survived  Pclass
Survived Pclass
0.0      1         80        80      80
         2         97        97      97
         3        372       372     372
1.0      1        136       136     136
         2         87        87      87