### 1. 타이타닉 승객들의 성별에 따른 생존률을 구하시오.

In [68]:
import pandas as pd
titanic = pd.read_csv('C:/Users/tb990/Desktop/titanic.csv')

In [69]:
titanic_1 = titanic.groupby(['Sex'])['Survived'].sum()/titanic.groupby(['Sex'])['Survived'].count()
print(titanic_1)

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

# 틀린 시도: 여자남자 합친 값(Sex 열 길이)으로 나누기
titanic1 = titanic.groupby(['Sex'])['Survived'].sum()/titanic['Survived'].count()
print(titanic1)

### 2. 타이타닉 탑승객중 fare가 200 이상을 지불한 탐승객들의 생존 확률은 ?

In [108]:
titanic_2 = titanic[titanic['Fare'] >= 200]['Survived'].sum()/titanic[titanic['Fare'] >= 200]['Survived'].count()
print(titanic_2)

0.7

# 틀린 시도: ['Survived']앞에 titanic입력 -> 왜 넣으면 안되죠..
titanic2 = titanic[titanic['Fare'] >= 200][titanic['Survived']].sum()
print(titanic2)

### 3. 타이타닉 탑승객 중 30대 미만의 승객의 생존률은?

In [109]:
titanic_3 = titanic[titanic['Age'] < 30]['Survived'].sum() / titanic[titanic['Age'] < 30]['Survived'].count()
print(titanic_3)

0.40625

### 4. 타이타닉 탑승객의 연령대별 생존자 수와 사망자 수를 구하시오.

In [113]:
# 연령대별 구분
age = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
age_columns = ['0대', '10대','20대', '30대', '40대', '50대', '60대', '70대', '80대']
titanic['Age group'] = pd.cut(titanic['Age'], age, labels = age_columns)

# 생존자 수와 사망자 수
titanic_4 = titanic.groupby(['Age group','Survived'])[['Survived']].count()
print(titanic_4)

                    Survived
Age group Survived
0대        0.0           26.0
          1.0           38.0
10대       0.0           71.0
          1.0           44.0
20대       0.0          146.0
          1.0           84.0
30대       0.0           86.0
          1.0           69.0
40대       0.0           53.0
          1.0           33.0
50대       0.0           25.0
          1.0           17.0
60대       0.0           13.0
          1.0            4.0
70대       0.0            4.0
          1.0            1.0
80대       0.0            NaN
          1.0            NaN

# 틀린 시도
Age_0 = titanic[titanic['Age']<10]
Age_10 = titanic[titanic['Age']<20]
Age_20 = titanic[titanic['Age']<30]
Age_30 = titanic[titanic['Age']<40]
Age_40 = titanic[titanic['Age']<50]
Age_50 = titanic[titanic['Age']<60]
Age_60 = titanic[titanic['Age']<70]
Age_70 = titanic[titanic['Age']<80]
Age_80 = titanic[titanic['Age']<90]
age = []
print(Age_0.head())

titanic_4 = titanic.groupby(['Age','Survived'])[['Survived']].count()
print(titanic_4)