In [ ]:
# 문제1 : 타이타닉 승객들의 성별에 따른 생존률을 구하시요
# 문제2 : 타이타닉 탑승객중 fare가 200 이상을 지불한 탐승객들의 생존 확률은 ?
# 문제3 : 타이타닉 탑승객중 30대 미만의 승객의 생존률은 몇& 인가?
# 문제4 : 타이타닉 탑승객의 연령대별 생존자 수와 사망자 수를 구하시오

In [1]:
import pandas as pd
titanic = pd.read_csv('/Users/seuli/Downloads/titanic.csv')

In [2]:
print(titanic.columns)

Index(['Unnamed: 0', 'PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age',
       'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [6]:
print(titanic.tail())

      Unnamed: 0  PassengerId  Survived  Pclass                          Name  \
1304        1305         1305       NaN       3            Spector, Mr. Woolf
1305        1306         1306       NaN       1  Oliva y Ocana, Dona. Fermina
1306        1307         1307       NaN       3  Saether, Mr. Simon Sivertsen
1307        1308         1308       NaN       3           Ware, Mr. Frederick
1308        1309         1309       NaN       3      Peter, Master. Michael J

         Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
1304    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
1305  female  39.0      0      0            PC 17758  108.9000  C105        C
1306    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
1307    male   NaN      0      0              359309    8.0500   NaN        S
1308    male   NaN      1      1                2668   22.3583   NaN        C

## 문제1 : 타이타닉 승객들의 성별에 따른 생존률을 구하시요

In [43]:
female = (titanic['Sex'] == 'female').count()

titanic_1 = titanic.groupby(['Sex', 'Survived'])['Survived'].count()
print(titanic_1)

Sex     Survived
female  0.0          81
        1.0         233
male    0.0         468
        1.0         109
Name: Survived, dtype: int64

In [101]:
female_total = titanic[titanic['Sex'] == 'female']['Survived'].count()
male_total = titanic[titanic['Sex'] == 'male']['Survived'].count()

print("여성의 생존 확률은 %.2f" %(233/female_total*100),"% 입니다.")
print("남성의 생존 확률은 %.2f" %(109/male_total*100), "% 입니다.")

여성의 생존 확률은 74.20 % 입니다.
남성의 생존 확률은 18.89 % 입니다.

## 문제2 : 타이타닉 탑승객중 fare가 200 이상을 지불한 탐승객들의 생존 확률은 ?

In [93]:
titanic_2 = titanic[(titanic["Fare"]>=200) & (titanic["Survived"] ==1)].count()
print("%.2f" %((titanic_2["Name"])/1309*100),"%")

1.07 %

## 문제3 : 타이타닉 탑승객중 30대 미만의 승객의 생존률은 몇& 인가?

In [99]:
titanic_3 = titanic[(titanic["Age"] < 30) & (titanic["Survived"] == 1)].count()
print("%.2f" %((titanic_3["Survived"])/1309*100),"%")

11.92 %

## 문제4 : 타이타닉 탑승객의 연령대별 생존자 수와 사망자 수를 구하시오

In [100]:
titanic_4 = titanic.groupby(['Age', 'Survived'])['Survived'].count()
print(titanic_4)

Age    Survived
0.42   1.0         1
0.67   1.0         1
0.75   1.0         2
0.83   1.0         2
0.92   1.0         1
1.00   0.0         2
       1.0         5
2.00   0.0         7
       1.0         3
3.00   0.0         1
       1.0         5
4.00   0.0         3
       1.0         7
5.00   1.0         4
6.00   0.0         1
       1.0         2
7.00   0.0         2
       1.0         1
8.00   0.0         2
       1.0         2
9.00   0.0         6
       1.0         2
10.00  0.0         2
11.00  0.0         3
       1.0         1
12.00  1.0         1
13.00  1.0         2
14.00  0.0         3
       1.0         3
14.50  0.0         1
                  ..
51.00  0.0         5
       1.0         2
52.00  0.0         3
       1.0         3
53.00  1.0         1
54.00  0.0         5
       1.0         3
55.00  0.0         1
       1.0         1
55.50  0.0         1
56.00  0.0         2
       1.0         2
57.00  0.0         2
58.00  0.0         2
       1.0         3
59.00  0.0         2
60.00  0.0         2
       1.0         2
61.00  0.0         3
62.00  0.0         2
       1.0         2
63.00  1.0         2
64.00  0.0         2
65.00  0.0         3
66.00  0.0         1
70.00  0.0         2
70.50  0.0         1
71.00  0.0         2
74.00  0.0         1
80.00  1.0         1
Name: Survived, Length: 142, dtype: int64