# 03 판다스 데이터프레임과 시리즈

## 03-1 나만의 데이터 만들기

In [6]:
# 시리즈 만들기
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [7]:
# 문자열을 인덱스로 지정하기
s = pd.Series(['Wes McKineey', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKineey
Who       Creator of Pandas
dtype: object

In [8]:
# 데이터프레임 만들기
scientists = pd.DataFrame({
   'Name' : ['Rosaline Franklin', 'Wiilliam Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'Age' : [37,61]}
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1    Wiilliam Gosset  Statistician  1876-06-13  1937-10-16   61

In [9]:
# 인덱스 맟 열 순서 지정하기
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
          'Born' : ['1920-07-25', '1876-06-13'],
          'Died' : ['1958-04-16', '1937-10-16'],
          'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Age', 'Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

In [10]:
# 딕셔너리의 데이터 순서를 그대로 유지하기 : OrderedDict
    # 딕셔너리는 키와 값으로 이루어진 한 쌍의 데이터들의 순서를 보장하지 않기 때문
from collections import OrderedDict
scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'Wiilliam Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-25', '1876-06-13']),
    ('Died', ['1958-04-16', '1937-10-16']),
    ('Age', [37,61])
])
)
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1    Wiilliam Gosset  Statistician  1876-06-13  1937-10-16   61

## 03-2 시리즈 다루기 - 기초

In [11]:
# 데이터프레임에서 시리즈 선택하기
    #데이터 프레임 준비
scientists = pd.DataFrame(
    data = {'Occupation' : ['Chemist', 'Statistician'],
          'Born' : ['1920-07-25', '1876-06-13'],
          'Died' : ['1958-04-16', '1937-10-16'],
          'Age' : [37,61]},
    index = ['Rosaline Franklin', 'William Gosset'],
    columns = ['Occupation', 'Born', 'Died', 'Age']
)

In [12]:
    # 시리즈 선택하고(loc속성으로) 확인하기
first_row = scientists.loc['William Gosset']
print(type(first_row))

<class 'pandas.core.series.Series'>

In [13]:
    # 출력 : 자료형 살피기
print(first_row)

Occupation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [14]:
# index 속성 사용하기
print(first_row.index)

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [15]:
# values 속성 사용하기
print(first_row.values)

['Statistician' '1876-06-13' '1937-10-16' 61]

In [16]:
# keys '메서드' 사용하기 (index속성과 같은 역할)
print(first_row.keys())

Index(['Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [17]:
# index 속성 응용하기 : index 속성의 첫 번째 값 추출
print(first_row.index[0])

Occupation

In [18]:
# keys 메서드 응용하기 : keys 메서드의 첫 번째 값 추출
print(first_row.keys()[0])

Occupation

In [19]:
# 시리즈의 기초 통계 메서드 사용하기
    # 열 추출
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [20]:
print(ages.mean())

49.0

In [21]:
print(ages.min())

37

In [22]:
print(ages.max())

61

In [23]:
print(ages.std())

16.97056274847714

## 03-3 시리즈 다루기 - 응용

In [24]:
# 시리즈와 불린 추출 사용하기 
    # 불린 추출 : 특정 조건을 만족하는 값만 추출
scientists = pd.read_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/data/scientists.csv')

In [25]:
# Age 열을 추출하여 mex, mean 메서드 사용하기
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [26]:
# 불린 추출 사용하기
print(ages[ages > ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [27]:
    # 확인해보자
print(ages > ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [28]:
print(type(ages > ages.mean()))

<class 'pandas.core.series.Series'>

In [29]:
# 위 두개 합친 코드 (참인 인덱스만 추출한다)
manual_bool_values = [True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

In [30]:
# 벡터로 더하기 연산과 곱하기 연산 수행하기
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [31]:
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [32]:
# 벡터에 스칼라 연산하기
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [33]:
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [34]:
# 길이가 서로 다른 벡터를 연산하기 : 시리즈와 시리즈 연산
print(pd.Series([1, 100]))

0      1
1    100
dtype: int64

In [35]:
    # 같은 인덱스의 값만 계산한다. 나머지는 계산할 수 없으므로 누락값으로 처리
print(ages + pd.Series([1, 100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [36]:
# sort_index 메서드 사용하기 & 인덱스 역순으로 정렬
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [37]:
print(ages *2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [38]:
# 인덱스 순서대로 정렬된 ages와 인덱스 역순으로 정렬된 rev_ages 연산시키기
    # 벡터와 벡터의 연산은 '일치하는 인덱스의 값끼리 수행'한다 ! 
    # 위의 값이랑 동일
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

## 03-4 데이터프레임 다루기

In [39]:
# 데이터프레임 부린 추출
print(scientists[scientists['Age'] > scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [40]:
# bool 벡터(참, 거짓을 담은 리스트)를 데이터프레임의 loc 속성에 전달
print(scientists.loc[[True, True, False, True]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

In [41]:
# 브로드캐스팅하기(데이터프레임에 스칼라 연산 적용하기)
    # 모든 요소에 스칼라 적용하여 연산된다
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

## 03-5 시리즈와 데이터프레임의 데이터 처리하기

In [42]:
# 열의 자료형 바꾸기와 새로운 열 추가하기
    # 각 열의 자료형 먼저 확인
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [43]:
# 날짜를 문자열로 저장한 데이터를 datetime 자료형으로 바꾸기
    # 시간관련 작업 할 수 있도록
    # 자료형 변환 후 format 속성으로 날짜 형식 지정
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [44]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [45]:
# 데이터프레임에 각각의 값을 새로운 열로 추가하기
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [46]:
print(scientists.shape)

(8, 7)

In [47]:
# 시간 계산 해보기 (과학자가 얼마동안 세상을 살다 떠났는지 계산)
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [48]:
# 시리즈나 데이터프레임의 데이터를 무작위로 섞기
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [49]:
# random 라이브러리 불러오기 : 데이터를 섞어주는 'shuffle 메서드' 있다
import random

random.seed(42)
    # seed 메서드는 컴퓨터가 생성하는 난수의 기준값을 정하기 위함
random.shuffle(scientists['Age'])
print(scientists['Age'])

/Users/seuli/venv/lib/python3.7/random.py:278: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

In [50]:
# 데이터프레임의 열 삭제
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [51]:
# drop 메소드 : 열 삭제
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

## 03-6 데이터 저장하고 불러오기

In [52]:
# 피클로 저장하기 
    # 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법
names = scientists['Name']
names.to_pickle('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientists_names_series.pickle')

In [53]:
    # 데이터프레임도 피클로 저장할 수 있다
scientists.to_pickle('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientists_df.pickle')

In [54]:
# 피클 읽어들이기 : 'read_pickle' 반드시 사용해야함
    # 바이너리 형태의 오브젝트라서 이상한 문자들이기 때문
scientist_names_from_pickle = pd.read_pickle('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [55]:
scientists_from_pickle = pd.read_pickle('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

In [56]:
# to_csv 메서드 : 시리즈와 데이터프레임을 CSV 파일로 저장하기
names.to_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientist_names_series.csv')
# TSV 파일로 저장하려면 ?
    # sep 인자를 추가하여 '\t' 지정, 확장자를 '.tsv'로 지정
scientists.to_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientist_df.tsv', sep='\t')

/Users/seuli/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

In [57]:
# 시리즈와 데이터프레임을 엑셀 파일로 저장하기
    # xls 파일로 저장하려면 xlwt 라이브러리 필요 (pip install xlwt)
    # xlsx 파일로 저장하려면 openpyxl 라이브러리 필요 (pip install openpyxl)

In [58]:
# to_frame 메서드 : 데이터프레임으로 변환시킨다
names_df = names.to_frame()

import xlwt
names_df.to_excel('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientist_names_series_df.xls')

import openpyxl
names_df.to_excel('/Users/seuli/Desktop/개발자/doit_pandas-master/output/scientist_names_series_df.xlsx')