# 06 누락값 처리하기

## 06-1 누락값이란?

In [1]:
# 누락값 확인하기
from numpy import NaN, NAN, nan

In [3]:
# 누락값은 0, ''과는 다른 개념이다. 
# 데이터 자체가 없음. 그래서 같다라는 개념도 없다.
# 누락값과 True, False, 0, '' 비교
print(NaN==True)
print(NaN==False)
print(NaN==0)
print(NaN=='')
    # 비교할 값 자체가 없으니 false로 출력

False
False
False
False

In [6]:
# 값 자체가 없기 때문에 자기 자신과 비교해도 False가 출력된다.
print(NaN == NaN)
print(NaN == nan)
print(NaN == NAN)
print(nan == NAN)

False
False
False
False

In [7]:
# isnull 메서드 : 누락값 확인 메서드
import pandas as pd
print(pd.isnull(NaN))

True

In [8]:
print(pd.isnull(nan))

True

In [9]:
print(pd.isnull(NAN))

True

In [10]:
# notnull 메서드 : 누락값이 아닌 경우
print(pd.notnull(NaN))
print(pd.notnull(42))
print(pd.notnull('missing'))

False
True
True

In [11]:
# 누락값이 생기는 이유 알아보기
    # 누락값이 있는 데이터 집합을 연결할 때 누락값이 생기는 경우
        # 누락값 포함되어 있는 데이터 연결하면 더 많은 누락값이 생긴다
visited = pd.read_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/data/survey_visited.csv')
survey = pd.read_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/data/survey_survey.csv')

print(visited)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

In [12]:
print(survey)

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [14]:
vs = visited.merge(survey, left_on='ident', right_on='taken')
print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

In [18]:
    # 데이터를 입력할때 누락값이 생기는 경우
num_legs = pd.Series({'goat': 4, 'amoeba' : nan})
print(num_legs)
print(type(num_legs))

goat      4.0
amoeba    NaN
dtype: float64
<class 'pandas.core.series.Series'>

In [19]:
scientists = pd.DataFrame({
    'Name' : ['Rosaline Franklin', 'William Gosset'],
    'Occupation' : ['Chemist', 'Statistician'],
    'Born' : ['1920-07-25', '1876-06-13'],
    'Died' : ['1958-04-16', '1937-10-16'],
    'missing' : [NaN, nan]})

print(scientists)
print(type(scientists))

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN
<class 'pandas.core.frame.DataFrame'>

In [20]:
    # 범위를 지정하여 데이터를 추출할때 누락값이 생기는 경우
gapminder = pd.read_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/data/gapminder.tsv', sep='\t')

In [24]:
    # gapminder데이터프레임 연도별로 그룹화한 다음 lifeExp 열의 평균 구하기
life_exp = gapminder.groupby(['year'])['lifeExp'].mean()
print(life_exp)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [25]:
    # range 메서드로 2000~2009년의 데이터 추출하기
        # 원래 life_Exp열에 없었던 연도가 포함되어서 누락값이 많이 생김
print(life_exp.loc[range(2000, 2010), ])

year
2000          NaN
2001          NaN
2002    65.694923
2003          NaN
2004          NaN
2005          NaN
2006          NaN
2007    67.007423
2008          NaN
2009          NaN
Name: lifeExp, dtype: float64

/Users/seuli/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [26]:
        # 위의 상황은 불린 추출로 데이터를 추출하면 된다
y2000 = life_exp[life_exp.index > 2000]
print(y2000)

year
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [28]:
# 누락값의 개수를 구하자
ebola = pd.read_csv('/Users/seuli/Desktop/개발자/doit_pandas-master/data/country_timeseries.csv')

In [29]:
    # 먼저 count메서드로 누락값이 아닌 값의 개수 구하자
print(ebola.count())

Date                   122
Day                    122
Cases_Guinea            93
Cases_Liberia           83
Cases_SierraLeone       87
Cases_Nigeria           38
Cases_Senegal           25
Cases_UnitedStates      18
Cases_Spain             16
Cases_Mali              12
Deaths_Guinea           92
Deaths_Liberia          81
Deaths_SierraLeone      87
Deaths_Nigeria          38
Deaths_Senegal          22
Deaths_UnitedStates     18
Deaths_Spain            16
Deaths_Mali             12
dtype: int64

In [30]:
    # shape[0]에 전체 행의 데이터 개수가 저장되어있다는 점을 이용하여 개수 구하기
num_rows = ebola.shape[0]
num_missing = num_rows - ebola.count()
print(num_missing)

Date                     0
Day                      0
Cases_Guinea            29
Cases_Liberia           39
Cases_SierraLeone       35
Cases_Nigeria           84
Cases_Senegal           97
Cases_UnitedStates     104
Cases_Spain            106
Cases_Mali             110
Deaths_Guinea           30
Deaths_Liberia          41
Deaths_SierraLeone      35
Deaths_Nigeria          84
Deaths_Senegal         100
Deaths_UnitedStates    104
Deaths_Spain           106
Deaths_Mali            110
dtype: int64

In [31]:
# count_nonzero, isnull 메서드를 조합하여 누락값의 개수 구하기
    # count_nonzero 메서드는 배열에서 0이 아닌 값의 개수를 세는 메서드
import numpy as np
print(np.count_nonzero(ebola.isnull()))

1214

In [32]:
print(np.count_nonzero(ebola['Cases_Guinea'].isnull()))

29

In [35]:
# value_count 메서드 : 지정한 열의 빈도를 구하는 메서드
    # 를 이용하여 누락값 개수 구하기
print(ebola.Cases_Guinea.value_counts(dropna=False).head())

NaN      29
86.0      3
495.0     2
112.0     2
390.0     2
Name: Cases_Guinea, dtype: int64

In [36]:
# 누락값 처리하기
    # 누락값 변경하기 : fillna 메서드에 0을 대입하면 누락값을 0으로 변경한다.
    
print(ebola.fillna(0).iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            0.0            10030.0
1    1/4/2015  288        2775.0            0.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286           0.0         8157.0                0.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0            0.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0            0.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [37]:
    # fillna 메서드의 method 인잣값을 ffill로 지정 : 누락값이 나타나기 전의 값으로 누락값이 변경됨
print(ebola.fillna(method='ffill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2769.0         8157.0             9722.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         8018.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7977.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [38]:
    # method 인잣값을 bfill로 지정 : 누락값이 나타난 이후의 첫 번째 값으로 앞쪽의 누락값이 모두 변경됨
    # 위의 ffill과는 반대 방향으로 처리
    # 단점 : 마지막 값이 누락값이면 처리하지 못함
print(ebola.fillna(method='bfill').iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0         8166.0            10030.0
1    1/4/2015  288        2775.0         8166.0             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2730.0         8157.0             9633.0
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7977.0             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7862.0             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [40]:
    # interpolate 메서드 : 누락값 양쪽에 있는 값을 이용하여 중간값을 구한 다음 누락값 처리
    # 데이터프레ㅣㅇㅁ이 일정한 간격을 유지하고 있는 것처럼 수정할 수 있음
print(ebola.interpolate().iloc[0:10, 0:5])

         Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone
0    1/5/2015  289        2776.0            NaN            10030.0
1    1/4/2015  288        2775.0            NaN             9780.0
2    1/3/2015  287        2769.0         8166.0             9722.0
3    1/2/2015  286        2749.5         8157.0             9677.5
4  12/31/2014  284        2730.0         8115.0             9633.0
5  12/28/2014  281        2706.0         8018.0             9446.0
6  12/27/2014  280        2695.0         7997.5             9409.0
7  12/24/2014  277        2630.0         7977.0             9203.0
8  12/21/2014  273        2597.0         7919.5             9004.0
9  12/20/2014  272        2571.0         7862.0             8939.0

In [41]:
# 누락값 삭제하기
    # 누락값을 무작정 삭제하면 데이터가 너무 편향되거나 데이터의 개수가 너무 적어질 수 있음
    # 삭제할때는 분석하는 사람이 잘 판단해야함
print(ebola.shape)

(122, 18)

In [43]:
    # dropna 메서드 사용하여 누락값 삭제
    # 누락값이 포함된 행들이 모두 삭제된다
ebola_dropna = ebola.dropna()
print(ebola_dropna.shape)

(1, 18)

In [44]:
print(ebola_dropna)

          Date  Day  Cases_Guinea  Cases_Liberia  Cases_SierraLeone  \
19  11/18/2014  241        2047.0         7082.0             6190.0

    Cases_Nigeria  Cases_Senegal  Cases_UnitedStates  Cases_Spain  Cases_Mali  \
19           20.0            1.0                 4.0          1.0         6.0

    Deaths_Guinea  Deaths_Liberia  Deaths_SierraLeone  Deaths_Nigeria  \
19         1214.0          2963.0              1267.0             8.0

    Deaths_Senegal  Deaths_UnitedStates  Deaths_Spain  Deaths_Mali
19             0.0                  1.0           0.0          6.0

In [45]:
# 누락값이 포함된 데이터 계산하기 
ebola['Cases_multiple'] = ebola['Cases_Guinea'] + ebola['Cases_Liberia'] + ebola['Cases_SierraLeone']

In [46]:
    # Cases_multiple 열을 포함하여 ebola_subset 데이터 프레임을 새로 만들어서 어떤값있는지 확인
    # 누락값이 하나라도 있는 행은 계산결과가 NaN이 되었음. 즉, 계산결과 누락값이 더 많이 생김
ebola_subset = ebola.loc[:, ['Cases_Guinea', 'Cases_Liberia', 'Cases_SierraLeone', 'Cases_multiple']]
print(ebola_subset.head(n=10))

   Cases_Guinea  Cases_Liberia  Cases_SierraLeone  Cases_multiple
0        2776.0            NaN            10030.0             NaN
1        2775.0            NaN             9780.0             NaN
2        2769.0         8166.0             9722.0         20657.0
3           NaN         8157.0                NaN             NaN
4        2730.0         8115.0             9633.0         20478.0
5        2706.0         8018.0             9446.0         20170.0
6        2695.0            NaN             9409.0             NaN
7        2630.0         7977.0             9203.0         19810.0
8        2597.0            NaN             9004.0             NaN
9        2571.0         7862.0             8939.0         19372.0

In [52]:
    # Cases_multiple 열을 sum 메서드를 사용해 더하기
    # sum 메서드 그냥 사용하면 누락값을 포함해 계산한다. -> 결과 : 누락값
print(ebola.Cases_Guinea.sum(skipna=False))

nan

In [53]:
    # 누락값 무시한채 계산하려면 skipna인잣값을 True로 설정(기본설정)
print(ebola.Cases_Guinea.sum(skipna=True))

84729.0